{%- import 'snippet.j2' as snippet -%}
{% call snippet.module_with_intf_structs(module_name, intfs, intfs, comment) %}

  logic  din_end;
  logic  din_ready_gate;
  logic  field_selected;

  assign field_selected = (union_din_s.ctrl == {{field_sel}}) && union_din.valid;

  assign dout_s.ctrl = union_din_s.ctrl;
  assign dout_s.data = field_selected ? din_s.data : union_din_s.data;
  assign dout.data = dout_s;
  assign dout.valid = field_selected ? (din.valid && union_din.valid) : union_din.valid;

  assign din.ready = dout.ready && field_selected && union_din.valid;

{% if intfs[0]['type'].__name__.startswith('Queue')%}
  assign din_end = &din_s.eot && din.valid;
{% else %}
  assign din_end = din.valid;
{% endif %}
  assign din_ready_gate = field_selected ? din_end : 1;
  assign union_din.ready = dout.ready && din_ready_gate;

{% endcall %}
