{%- import 'snippet.j2' as snippet -%}

{% call snippet.gear_module(wrap_module_name, intfs, sigs=sigs) %}

  {%- set din = intfs[0]['name'] %}
  {%- set dout = intfs[1]['name'] %}
  {%- set width = intfs[1]['width'] %}

  {% for i in intfs %}
  {{snippet.intf_inst(i['name']+"_base", width=i['width'], size=1, type=i['type'])|indent(4,True)}}
  {% endfor %}


  {% set decouple_port_map = {'dout': dout} %}
  {% set decouple_sig_map = {'clk': 'clk', 'rst': 'rst', 'din_valid': 'decouple_din_valid', 'din_ready': 'decouple_din_ready', 'dout_data': 'decouple_din_data'} %}
  {% set base_port_map = {din: din + '_base', dout: dout + '_base'} %}

  logic decouple_din_valid;
  logic decouple_din_ready;
  logic [{{width}}-1 : 0] decouple_din_data;

  assign {{din}}_base.valid = decouple_din_ready & {{din}}.valid; 
  assign {{din}}_base.data = {{din}}.data;

  assign {{din}}.ready = decouple_din_ready;
  assign decouple_din_valid = decouple_din_ready & {{din}}.valid;
  assign decouple_din_data = {{dout}}_base.data;
  assign {{dout}}_base.ready = 1;

  {{snippet.module_inst(module_name, param_map, inst_name, port_map=base_port_map, sig_map=sig_map)|indent(4, True)}}
  {{snippet.module_inst('fixed_latency_decoupler', {'LATENCY': latency, 'DATA_W': width}, "fixed_latency_decoupler", port_map=decouple_port_map, sig_map=decouple_sig_map)|indent(4, True)}}
{% endcall %}
