{%- import 'snippet.j2' as snippet -%}

module {{module_name}}
{%- if generics|length > 0 %}
#({{snippet.generic_list(generics)}}
)
{%- endif %}
(
    input clk,
    input rst,
{{snippet.intf_list(intfs)|indent(4, True)}}
);

{% if not has_local_rst %}
    logic local_rst;
    assign local_rst = rst;
{% endif %}

{% for i in inst %}
{{i|indent(4,True)}}

{% endfor %}

endmodule
