{%- set RBR = "{" %}
{%- set LBR = "}" %}

{%- macro generic_list(generics) -%}
  {% for g in generics %}
    {{g['name']}} = {{g['value']}}{{ "," if not loop.last }}
  {%- endfor -%}
{%- endmacro -%}

{% macro intf_list(intfs) -%}
  {% for i in intfs -%}
    dti.{{i['modport']}} {{i['name']}}{{ "," if not loop.last }} // {{i['type']}} ({{i['width']}})
  {% endfor -%}
{%- endmacro %}

{% macro module_inst(module_name, param_map, inst_name, port_map=None, rst_name="rst") -%}

  {{module_name}}
  {%- if param_map|length > 0 %}
 #(
    {% for name,value in param_map.items() -%}
      {%- if name %}
        {{"."|indent(4,True)}}{{name}}({{value.bit_length()}}'d{{value}}){{ "," if not loop.last }}
      {% else -%}
        {{value|indent(4,True)}}{{ "," if not loop.last }}
      {% endif -%}
    {% endfor -%}
    )
  {% endif %}
 {{inst_name}} (
    .clk(clk),
    .rst({{rst_name}}),
  {% if port_map -%}
    {% for name,value in port_map.items() -%}
      {{"."|indent(4,True)}}{{name}}({{value}}){{ "," if not loop.last }}
    {% endfor -%}
  {% else -%}
    .*
  {% endif -%}
  );
{% endmacro %}

{% macro intf_inst(name, width, size, type) -%}
  {% if width == 0 %}
	{% set width = 1 %}
  {% endif %}
  dti #(.W_DATA({{width}})) {{name}}{{ "[%d:0]"|format(size-1) if size>1 }}(); // {{type}} ({{width}})
{%- endmacro %}

{% macro assign(name, value) -%}
  assign {{name}} = {{value}};
{%- endmacro %}

{% macro range(name, high, low=0) -%}
  {{name}}[{{high}}:{{low}}]
{%- endmacro %}

{% macro concat(values) -%}
  {{RBR}}{{ values|join(', ') }}{{LBR}}
{%- endmacro %}

{% macro logic(name, high=none, low=0) -%}
  {%- if high is not none %}
logic [{{high}}:{{low}}] {{name}};
  {%- else -%}
logic {{name}};
  {% endif -%}
{%- endmacro %}

{% macro cons_signal_intf(intf) -%}
output logic         {{intf['name']}}_ready,
input  logic         {{intf['name']}}_valid,
{# input  logic [{{((intf['width']+7)//8)*8-1}}:0] {{intf['name']}}_data #}
input  logic [{{intf['width']-1}}:0] {{intf['name']}}_data
{%- endmacro %}

{% macro prod_signal_intf(intf) -%}
input  logic         {{intf['name']}}_ready,
output logic         {{intf['name']}}_valid,
{# output logic [{{((intf['width']+7)//8)*8-1}}:0] {{intf['name']}}_data #}
output logic [{{intf['width']-1}}:0] {{intf['name']}}_data
{%- endmacro %}

{% macro signal_intf_list(intfs) -%}
  {% for i in intfs -%}
    {% if i['modport'] == 'consumer' %}
{{ cons_signal_intf(i) }}{{ "," if not loop.last }}
    {% else %}
{{ prod_signal_intf(i) }}{{ "," if not loop.last }}
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro intf_list_inst(intfs) -%}
  {% for i in intfs -%}
{{ intf_inst(i['name'], i['width'], 1, i['type']) }}
  {% endfor %}
{%- endmacro %}

{% macro cons_signal_intf_connect(intf) -%}
output logic         {{intf['name']}}_ready,
input  logic         {{intf['name']}}_valid,
input  logic [{{intf['width']}}:0] {{intf['name']}}_data
{%- endmacro %}

{% macro cons_signal_intf_connect(intf) -%}
assign {{intf['name']}}.valid = {{intf['name']}}_valid;
assign {{intf['name']}}.data = {{intf['name']}}_data;
assign {{intf['name']}}_ready = {{intf['name']}}.ready;
{%- endmacro %}

{% macro prod_signal_intf_connect(intf) -%}
assign {{intf['name']}}_valid = {{intf['name']}}.valid;
assign {{intf['name']}}_data = {{intf['name']}}.data;
assign {{intf['name']}}.ready = {{intf['name']}}_ready;
{%- endmacro %}

{% macro signal_intf_connect(intfs) -%}
  {% for i in intfs -%}
    {% if i['modport'] == 'consumer' %}
{{ cons_signal_intf_connect(i) }}
    {% else %}
{{ prod_signal_intf_connect(i) }}
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro gear_module(module_name, intfs, comment) -%}
  {% if comment is defined -%}
/*
    {{ comment }}
*/
  {% endif %}

module {{module_name}}
(
    input clk,
    input rst,
{{ intf_list(intfs)|indent(4, True) }}
);
{{ caller() }}
endmodule
{%- endmacro %}

{% macro module_with_intf_structs(module_name, intfs, struct_intfs, comment) -%}
{% set caller_ = caller %}
{% call gear_module(module_name, intfs, comment) %}
  {% for i in struct_intfs %}
    {{ svgen_typedef(i['local_type'], i['name'])|indent(4, False) }}

  {% endfor %}

  {% for i in struct_intfs %}
    {{i['name']}}_t {{i['name']}}_s;
  {% endfor %}

  {% for i in struct_intfs|isinput -%}
    {% if i['width'] > 0 %}
    assign {{i['name']}}_s = {{i['name']}}.data;
    {% endif %}
  {%- endfor %}
{{ caller_() }}
{% endcall %}
{%- endmacro %}
