{%- import 'snippet.j2' as snippet -%}

/*verilator tracing_off*/

module wrap_{{module_name}}
(
  {% if sigs == None -%}
    input clk,
    input rst,
  {% else %}
{{snippet.sig_list(sigs)|indent(4, True) }}
  {% endif %}
{{snippet.signal_intf_list(intfs)|indent(4, True)}}
);

/*verilator tracing_on*/
{{snippet.module_inst(module_name, param_map, inst_name)|indent(4, True)}}
/*verilator tracing_off*/

endmodule
