{%- import 'snippet.j2' as snippet -%}
{% call snippet.module_with_intf_structs(module_name, intfs, intfs, comment) %}

    logic handshake;
    logic din_valid_sel;
{% for i in intfs|isinput %}
    logic {{i['name']}}_eot;
{% endfor %}

    assign handshake = dout.valid & dout.ready;
{% for i in intfs|isinput %}
  {% if i['type'].__name__.startswith('Queue')%}
    assign {{i['name']}}_eot = {{i['name']}}.valid && (&{{i['name']}}_s.eot);
  {% else %}
    assign {{i['name']}}_eot = {{i['name']}}.valid && 1;
  {% endif %}
{% endfor %}

    always_comb
    begin
{% for i in intfs[1:-1] %}
        {{i['name']}}.ready = 0;
{% endfor %}
        case( {{intfs[0]['name']}}.data )
{% for i in intfs[1:-1] %}
            {{loop.index-1}} : begin
                din_valid_sel = {{i['name']}}.valid;
                dout_s.data = {{i['name']}}_s;
                {{i['name']}}.ready = handshake;
                ctrl.ready = dout.ready && {{i['name']}}_eot;
            end
{% endfor %}
            default: begin
                din_valid_sel = 0;
                dout_s.data = 0;
                ctrl.ready = 0;
            end
        endcase
    end

    assign dout_s.ctrl = ctrl_s;
    assign dout.valid = ctrl.valid & din_valid_sel;
    assign dout.data = dout_s;

{% endcall %}
