{%- import 'snippet.j2' as snippet -%}


{% call snippet.module_with_intf_structs(module_name, intfs, comment) %}

  {% set input_intf_names = intfs|isinput|keymap("name") %}

    assign dout_s.out_eot = din_s.out_eot;
    assign dout.data = dout_s;

  {% if dout_align == 1 %}
    assign din.ready = dout.ready;
    assign dout.valid = din.valid;
  {% else %}
    logic  handshake;
    logic  ready_reg;
    logic  subelem_done;

    assign subelem_done = {{dout_align}};
    assign din.ready = (dout.ready || (!subelem_done));
    assign dout.valid = din.valid && (!ready_reg);

    assign handshake = dout.valid & dout.ready;

    always_ff @(posedge clk) begin
        if (rst) begin
          ready_reg <= 1'b0;
        end
        else begin
          if (subelem_done && handshake) begin
              ready_reg <= 1'b0;
          end
          else begin
              ready_reg <= ready_reg || handshake;
          end
        end
    end
  {% endif %}
{% endcall %}
