{%- import 'snippet.j2' as snippet -%}

{% call snippet.module_with_intf_structs(module_name, intfs, intfs, comment) %}

  {%- set input_intf_names = intfs|isinput|keymap("name") %}
  {%- set max_lvl_intf = intfs|isinput|max(attribute="lvl") %}

    assign dout_s.eot = {{ max_lvl_intf['name'] }}_s.eot;
    assign dout_s.data = {{din_data_cat(intfs)}};

    logic  all_valid;
    logic  handshake;
    assign all_valid = {{input_intf_names|format_list("%s.valid")|join(" && ")}};
    assign handshake = dout.valid & dout.ready;
    assign dout.valid = all_valid;
    assign dout.data = dout_s;

  {% for i in intfs|isinput %}
    assign {{i['name']}}.ready = handshake;
  {% endfor %}

{% endcall %}
