sphinx
-e git+https://github.com/bogdanvuk/sphinx-verboser.git@master#egg=sphinx_verboser
-e git+https://github.com/bogdanvuk/sphinx-verboser.git@master#egg=sphinx_urlinclude
-e ..
sphinxcontrib-tikz
sphinxcontrib-wavedrom
sphinx-sitemap
sphinx-argparse
