h2 {
  background-color: rgb(224, 224, 224) !important;
  font-weight: bold !important;
}
h3 {
  font-size: 130% !important;
  font-weight: bold !important;
}
h4 {
  color:  #53575c !important;
  font-size: 100% !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}
h5 {
  font-weight: bold !important;
  font-size: 80% !important;
}